.login_title img{
    display: block;
    margin: 30px auto 0 auto;
    width:700px;
    height:auto;
}

.registerr{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items:center; 
}

.registerr input{
    width: 350px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgba(255,255,255,0.6);
    box-sizing: border-box;
}

.registerr button{
    padding: 15px 40px;

    border: none;
    border-radius: 20px;

    background: #8B6B20;
    color: white;

    font-size: 18px;
    font-weight: bold;

    transition: all 0.3s ease;
}

.password_holder{
    position: relative;
    width: 350px;
}

.password_holder input{
    width: 100%;
    padding-right: 45px;
    box-sizing: border-box;
}



































